{% extends 'rebase.html' %}
{% load static %}
<!-- TODO Add Links to videos -->
{% block title %}
    <title>
        GCE - Schematic Diagrams
    </title>
{% endblock title %}

{% block style %}
<style>
    img{
height:150px;
width:100%;
}

.item{
padding-left:5px;
padding-right:5px;
}
.item-card{
transition:0.5s;
cursor:pointer;
}
.item-card-title{  
font-size:15px;
transition:1s;
cursor:pointer;
}
.item-card-title i{  
font-size:15px;
transition:1s;
cursor:pointer;
color:#ffa710
}
.card-title i:hover{
transform: scale(1.25) rotate(100deg); 
color:#18d4ca;

}
.card:hover{
transform: scale(1.05);
box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}
.card-text{
height:80px;  
}

.card::before, .card::after {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
transform: scale3d(0, 0, 1);
transition: transform .3s ease-out 0s;
background: rgba(255, 255, 255, 0.1);
content: '';
pointer-events: none;
}
.card::before {
transform-origin: left top;
}
.card::after {
transform-origin: right bottom;
}
.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
transform: scale3d(1, 1, 1);
}
</style>
{% endblock style %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'users:home' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'users:schem' %}">Schematic Diagram</a></li>
      <li class="breadcrumb-item">GCE</li>
    </ol>
  </nav>
  <div class="container center" style="margin-top: 2rem;">
    <div class="row">
      {% for item in schem_gce %}
        <div class="col-md-3 col-sm-6 item" style="padding-right: 1rem; margin-top: 1rem;">
          <a href="{{item.file.url}}" target="_blank">
            <div class="card item-card card-block">
              <img src="{{item.icon.url}}" alt="{{item.name}}">
              <h3 class="d-flex justify-content-center item-card-title mt-3 mb-3">{{item.name|title}}</h3>
            </div>
          </a>
        </div>
      {% endfor %}                                    
    </div>
</div>
{% endblock content %}