{% extends 'base.html' %}
{% load static %}

{% block title %}
  CBTs
{% endblock %}

{% block breadcrumb %}
<div class="menu__crumbs d-flex w-100">
  <div class="container p-0 d-flex justify-content-between">
    <div>
      <a class="btn" href="{% url 'users:home' %}" role="button">Home</a><span>></span>
      <a class="btn" href="#" role="button">CBTs</a>
    </div>
  </div>
</div>
{% endblock breadcrumb %}

{% block content %}
  <div class="container center" style="margin-top: 2rem;">
      <div class="row d-flex justify-content-center">
        <div class="col-md-3 col-sm-6 item" style="padding-right: 1rem;">
          <form method="post">
              {% csrf_token %}
            <a href="{% url 'users:cbt_auto' %}" type="submit">
                <div class="card item-card card-block">
                  <img src="{% static 'img/cbt.jpg' %}" alt="Automotive">
                    <h3 class="d-flex justify-content-center item-card-title mt-3 mb-3">Automotive</h3>
                  </div>
            </a>
          </form>
        </div>
        <div class="col-md-3 col-sm-6 item" style="padding-right: 1rem;">
            <form method="post">
                <a href="{% url 'users:cbt_gce' %}" type="submit">
                    <div class="card item-card card-block">
                      <img src="{% static 'img/cbt.jpg' %}" alt="GCE">
                    <h3 class="d-flex justify-content-center item-card-title mt-3 mb-3">GCE</h3>
                    </div>
                </a>
            </form>
        </div>
        <div class="col-md-3 col-sm-6 item" style="padding-right: 1rem;">
          <form method="post">
            <a href="{% url 'users:cbt_gce_elec' %}" type="submit">
                <div class="card item-card card-block">
                  <img src="{% static 'img/cbt.jpg' %}" alt="GCE Electronics">
                    <h3 class="d-flex justify-content-center item-card-title mt-3 mb-3">GCE Electronics</h3>
                </div>
            </a>
          </form>
        </div>  
      </div>
  </div>
{% endblock content %}