{% extends 'base.html' %}
{% load static %}
<!-- TODO Add schematics for auto and electrical -->
{% block title %}
    <title>
        CBTs/PPTs
    </title>
{% endblock title %}


{% block content %}
<!--<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'users:home' %}">Home</a></li>
      <li class="breadcrumb-item">CBTs/PPTs</li>
    </ol>
  </nav>
  <div class="container center" style="margin-top: 2rem;">
      <div class="row">
        <div class="col-md-4 col-sm-6 item" style="padding-right: 1rem;">
            <a href="{% url 'users:cbt_main' %}">
              <div class="card item-card card-block">
                <img src="{% static 'img/cbt.jpg' %}" alt="Computer Based Training">
                  <h3 class="d-flex justify-content-center item-card-title mt-3 mb-3">Computer Based Training</h3>
                </div>
            </a>
          </div>
          <div class="col-md-4 col-sm-6 item" style="padding-right: 1rem;">
            <a href="{% url 'users:ppt_main' %}">
              <div class="card item-card card-block">
                <img src="{% static 'img/ppt.png' %}" alt="PPTs">
                  <h3 class="d-flex justify-content-center item-card-title mt-3 mb-3">PPTs</h3>
                </div>
            </a>
          </div>                                  
      </div>
  </div>-->
  <section
      class="d-flex align-items-start contentArea w-100 position-absolute"
    >
      <div
        class="content__inner w-100 h-100 d-flex flex-column position-relative pb-2"
      >
        <div class="container">
          <div class="d-flex pt-5 justify-content-center align-items-center w-100">
            <a class="btn button" href="{% url 'users:cbt_main' %}" role="button">CBTs</a>
            <a class="btn button" href="{% url 'users:ppt_main' %}" role="button">PPTs</a>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}