{% extends 'base.html' %}
{% load static %}

{% block title %}
PPTs
{% endblock %}

{% block breadcrumb %}
<div class="menu__crumbs d-flex w-100">
  <div class="container p-0 d-flex justify-content-between">
    <div>
      <a class="btn" href="{% url 'users:home' %}" role="button">Home</a><span>></span>
      <a class="btn" href="#" role="button">PPTs</a>
    </div>
  </div>
</div>
{% endblock breadcrumb %}

{% block content %}
<!--<div class="container center" style="margin-top: 2rem;">
      <div class="row">
          <div class="col-md-4 col-sm-6 item" style="padding-right: 1rem;">
            <a href="{% url 'users:ppt_auto' %}">
                <div class="card item-card card-block">
                  <img src="{% static 'img/ppt.png' %}" alt="Automotive System">
                  <h3 class="d-flex justify-content-center item-card-title mt-3 mb-3">Automotive System</h3>
                </div>
            </a>
          </div>
          <div class="col-md-4 col-sm-6 item" style="padding-right: 1rem;">
            <a href="{% url 'users:ppt_gce' %}">
                <div class="card item-card card-block">
                  <img src="{% static 'img/ppt.png' %}" alt="Gun Control System">
                  <h3 class="d-flex justify-content-center item-card-title mt-3 mb-3">Gun Control System</h3>
                </div>
            </a>
          </div>
          <div class="col-md-4 col-sm-6 item" style="padding-right: 1rem;">
            <a href="{% url 'users:ppt_elec' %}">
                <div class="card item-card card-block">
                  <img src="{% static 'img/ppt.png' %}" alt="Electrical System">
                  <h3 class="d-flex justify-content-center item-card-title mt-3 mb-3">Electrical System</h3>
                </div>
            </a>
          </div>                                   
      </div>
  </div>-->
<section class="d-flex align-items-start contentArea w-100 position-absolute">
  <div class="content__inner w-100 h-100 d-flex flex-column position-relative pb-2">
    <div class="container">
      <div class="d-flex pt-5 justify-content-center align-items-center w-100">
        <a href="{% url 'users:ppt_auto' %}" class="btn button" role="button">Automotive System</a>
        <a href="{% url 'users:ppt_gce' %}" class="btn button" role="button">Gun Control System </a>
        <a href="{% url 'users:ppt_elec' %}" class="btn button" role="button">Electrical System</a>
      </div>
    </div>
  </div>
</section>
{% endblock content %}