{% extends 'rebase.html' %}
{% load static %}
{% block title %}
    <title>
        Electrical - PPTs
    </title>
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/all.css' %}">
{% endblock style %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'users:home' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'users:cbt' %}">CBTs/PPTs</a></li>
      <li class="breadcrumb-item"><a href="{% url 'users:ppt_main' %}">PPTs</a></li>
      <li class="breadcrumb-item">Electrical - PPTs</li>
    </ol>
  </nav>
  <div class="container center" style="margin-top: 2rem;">
    <table class="table table-striped ">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name of the Lesson</th>
            <th scope="col">Download</th>
          </tr>
        </thead>
        <tbody>
          {% for item in ppt_elec %}
          <tr>
            <th>{{item.name|upper}}</th>
            <td><a href="{{item.file.url}}"><i class="fas fa-download"></i></a></td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
  </div>
{% endblock content %}