/**
* Template Name: IETM
* Template URL: https://bootstrapmade.com/IETM-free-bootstrap-3-theme-for-creative/
* License: https://bootstrapmade.com/license/
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

html,
body {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  color: #212529;
}

a {
  color: #eb5d1e;
  text-decoration: none;
}

a:hover {
  color: #ef7f4d;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-primary {
  font-family: "Poppins", sans-serif;
}

h1 {
  font: normal normal normal 64px/64px "Bebas Neue";
}
h3 {
  font: normal normal normal 48px/64px "Bebas Neue";
}
h4 {
  font: normal normal normal 28px/42px "Poppins";
}
h5 {
  font: normal normal normal 15px/25px "Poppins";
}

p {
  color: #c3bfbf;
  font: normal normal normal 14px/25px "Poppins";
}
img {
  max-width: 100%;
  display: block;
}
[class^="bi-"]::before,
[class*=" bi-"]::before {
  vertical-align: middle;
}

.color__deep--orange {
  color: #e3932a;
}
.bg__deep--orange {
  background: #e3932a;
}
.grad__bg--orange {
    background: transparent linear-gradient(180deg, #EEAF3D 0%, #DF8722 100%) 0% 0% no-repeat padding-box;
}

.button {
  padding: 15px;
  background: transparent linear-gradient(180deg, #eeaf3d 0%, #df8722 100%) 0%
    0% no-repeat padding-box;
  border: solid thin #df8722;
  border-radius: 4px;
  margin: 15px;
  min-width: 160px;
  display: block;
  color: #fff !important;
  font: normal normal bold 14px/32px "Poppins";
}

.btn { outline:none !important; box-shadow: none !important;}
.btn_wrap { line-height: 60px; display: inline; }
.btn__icon { display: inline; min-width: auto;
    line-height: 52px; white-space: nowrap;  font-size: 13px;} 
.btn__icon img { max-width:20px; margin:0 5px 0 0; display:inline; }
.iconColor { color:white; }
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 147px;
  z-index: 997;
  transition: all 0.5s;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.header-box {
  border: 1px solid #707070;
  background: transparent linear-gradient(180deg, #373737 0%, #151515 100%) 0%
    0% no-repeat padding-box;
}

#header .logo h1 {
  font-size: 30px;
  margin: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
}

#header .logo h1 span {
  font: normal normal normal 64px/85px "Bebas Neue";
  letter-spacing: 0px;
  color: #ffffff;

}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #7a6960;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 58px;
}

/**nav bar style starts**/

.nav-items {
  height: 65px;
  display: flex;
  background: transparent linear-gradient(0deg, #2a2d1c 0%, #656854 100%) 0% 0%
    no-repeat padding-box;
}

.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar li:last-child {
  padding: 0 0 0 50px;
}
.navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font: normal normal 600 14px/17px Poppins;
  color: #ffffff;
  white-space: nowrap;
  padding-top: 25px;
  padding-bottom: 15px;
  transition: 0.3s;
}

.navbar a i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar li:hover > a {
  border-bottom: solid 5px #fff;
}
.navbar li:first-child a {
  padding-left: 0;
}
.navbar li:last-child a {
  padding-right: 0;
}

.mobile-nav-toggle {
  display: none;
}

.menu__crumbs {
    width:100%; background:#fff; height:44px; display: flex; font-size: 14px; margin:-1px 0 0;
}
.menu__crumbs a { color:#E28F28; padding: 9px; position:relative; }
.menu__crumbs span {
    font-size: 26px;
    line-height: normal;
    vertical-align: middle;
    color: #ccc;
}

.menu__crumbs a.btn__border--btm.active:after {
    content: ""; height: 3px; left: 8px; bottom: -1px;  background: #e3932a;
    position: absolute;  right: 8px;
}

/**nav bar style ends**/
.login__wrap {
    width: 430px;
    position: relative;
    z-index: 1;
}
.login__logo {
    padding: 0 8em 1em;
}
.login__logo img {
    max-height: 82px;
}
.loginSection {
  background: url("../img/esv.jpg") no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
  display:flex;
  width:100%;
  height:100%;
}

.inputField input[type="text"], 
.inputField input[type="password"] {
    width: 100%;
    font: normal normal 600 16px/30px "Poppins";
    color: #fff;
    padding: 15px 20px;
    border: none !important;
    background: #535353;
    outline: none;
    border-radius: 15px;
    margin: 6px 0;
}
.submit__btn {
    padding: 10px;
    min-width: 220px;
}

.contentArea {
  z-index: 100;
  top: 152px;
  min-height: calc(100% - 152px);
  background: url("../img/esv.jpg") no-repeat top center #000;
  background-size: cover;
  background-attachment: fixed;
}
.loginSection:before, .contentArea:before {
  background: #000;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  opacity: 0.7;
}
.loginSection:before {
    z-index: 1;
}
.contentArea.noBg {
  background-image: none;
}
.contentArea.noBg:before {
  opacity: 1;
}
.contentArea.hasCrumbs {
    top: 195px;
    min-height: calc(100% - 195px);
}

.item-card {
  max-width: 422px;
}
.item-card .left__col {
  background: transparent linear-gradient(180deg, #eeaf3d 0%, #df8722 100%) 0%
    0% no-repeat padding-box;
  text-align: center;
}

.install__link a span {
  position: relative;
  margin: 0 0 0 15px;
}
.install__link a span:after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  background: #e3932a;
  left: 0;
  width: 100%;
}

.cursor__pointer {
    cursor:pointer;
}
/**video style starts**/
.video__card--wrap {
    width:25%; padding:10px;
}

.video__card {
    width:100%;
    border:none;
}
.video__card .card-body{
    background:#545454;
    font-size:62px;
}

/**video style ends**/

/**search style starts**/

.search-container {
    padding: 8em 7em 0;
}
.search {
    border-radius: 15px;
    background: #535353;
    padding-right:15px;
}
.search input[type="search"] {
    width:100%;
    font: normal normal 600 32px/48px "Poppins";
    color:#fff;
    padding: 15px 20px;
    border:none !important;
    background: #535353;
    outline: none;
    border-radius: 15px 0 0 15px;
}
.search .btn { font-size:26px; outline:none !important; box-shadow:none !important; }
.search .btn:hover { color:#e3932a;}

.search__filter input[type="checkbox"] {
    position:absolute; opacity:0;
}
.search__filter div {
    padding:0 10px;
}
.search__filter label {
    display: flex;
    align-items: center;
    color:#fff;
}
.search__filter label span {
    border:2px solid #535353;
    width:28px;
    height:28px;
    margin:0 8px 0 0;
    background:#fff;
}
.search__filter input[type="checkbox"]:checked + span {
    background:#e3932a;
}

/**search style ends**/
.color__first--letter span {
    padding: 0 18px 0 0;
    display: inline-block;
}
.color__first--letter span:first-letter { color:#ef7f4d }

/**subsystem style starts**/
.feature__content {
    border: 1px solid #707070;
    background: transparent linear-gradient(180deg, #2A2D1C 0%, #656854 100%) 0% 0% no-repeat padding-box;
}

.feature__img {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.feature__details ul {
    margin:0; padding:0 0 0 20px;
}
.feature__details ul li {
    font-size:14px; padding: 3px 0; width:100%; color:#c3bfbf; position:relative;
}
.feature__details li ul {
    padding:0 0 0 22px;
}
ul.list__arrow > li, ul.list__pointer > li, ul.list__disc > li {
    list-style: none;
    padding-left: 18px;
}
ul li::marker { font-size:20px; }
ul.list__arrow > li:before {
 content:">"; font-weight:bold; font-size:20px; position:absolute; left:0; top:0; 
}

ul.list__pointer > li:before {
    content: "\025B6"; left: 0; font-size: 12px;  top: 5px;  position:absolute;
}

ul.list__disc > li:before {
    content: "●"; left: 0; font-size: 18px;  top: -2px;  position:absolute;
}

ul.list-icons li ul {
    padding: 0 0 0 12px;
}
/**subsystem style ends**/

.diagram__slider {
    display:inline-block;
    width:650px;
    margin:0 auto;
}
.diagramslider ul.flex-direction-nav{
    display: none;
}
.diagramslider img {
    max-height:500px;
    margin:0 auto;
}
.thumbcarousel {
    background: transparent;
    border: none;
}
.thumbcarousel img {
    max-height:50px;
    opacity:0.5;
}

.thumbcarousel .slides > li {
    background:#000;
}

.thumbcarousel .slides > li.flex-active-slide img {
    opacity:1;
}

.flexslider { margin:0 0 10px; } 

/*Responsive styles starts*/
@media only screen and (max-width: 900px) {
}
/*Responsive styles ends*/
