{% extends 'rebase.html' %}
{% load static %}

{% block title %}
    <title>
        {{crumb}} - {{sub}}
    </title>
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/all.css' %}">
{% endblock style %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'users:home' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'elec:home' %}">Electrical</a></li>
      <li class="breadcrumb-item"><a href="{{link}}">{{sub}}</a></li>
      <li class="breadcrumb-item">{{crumb}}</li>
    </ol>
  </nav>
<div class="container-fluid">
    <div class="row">
        <div id="main-content" class="col-lg-12 ">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="datalist" role="tabpanel" aria-labelledby="datalist-tab">
                    {% if datalist %}
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">Ser No</th>
                            <th scope="col">Name</th>
                            <th scope="col">Download</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for data in datalist %}
                          <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{data.get_filename}}</td>
                            <td><a href="{{ data.file.url }}"><i class="fas fa-download"></i></a></td>
                          </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        Sorry no data uploaded yet.
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}