{% extends 'base.html' %}

{% block title %}
IETM:3DTCR - Search
{% endblock title %}

{% block style %}
{% if search_results %}
<style>
  .search-container {
    padding-top: 1em;
    ;
  }
</style>
{% endif %}
{% endblock style %}

{% block content %}
<section class="d-flex align-items-start contentArea w-100 position-absolute">
  <div class="content__inner w-100 h-100 d-flex flex-column position-relative pb-2">
    <div class="container d-flex w-100 align-items-center justify-content-center">
      <div class="search-container w-100">
        <form action="/search/" method="get">
          <div class="search d-flex w-100 position-relative">
            <input type="search" name="q" {% if search_query %} value="{{ search_query }}" {% endif %}
              placeholder="What are you looking for ?" />
            <button type="submit" class="btn search__btn color__deep--orange">
              <i class="bi bi-search"></i>
            </button>
            <button class="btn mic__btn color__deep--orange">
              <i class="bi bi-mic-fill"></i>
            </button>
          </div>

          <div class="d-flex pt-3 w-100 justify-content-center search__filter">
            <div class="position-relative">
              <label><input id="resultsAll" type="checkbox" name="filters" value="all" {% if "all" in search_filters or search_filters|length == 0 %} checked {% endif %} />
                <span></span>Everything</label>
            </div>
            <div class="position-relative">
              <label><input type="checkbox" name="filters" class="results-filter" value="technical" {% if "technical" in search_filters %}
                  checked {% endif %} /><span></span>Technical Library</label>
            </div>
            <!--<div class="position-relative">
              <label><input type="checkbox" name="filters" class="results-filter" value="images" {% if "images" in search_filters %} checked {% endif %}
                   /><span></span>Images</label>
            </div>-->
            <div class="position-relative">
              <label><input type="checkbox" name="filters" class="results-filter" value="videos" {% if "videos" in search_filters %} checked {% endif %}
                 /><span></span>Videos</label>
            </div>
            <div class="position-relative">
              <label><input type="checkbox" name="filters" class="results-filter" value="ppt" {% if "ppt" in search_filters %} checked {% endif %} 
                /><span></span>PPTs</label>
            </div>
            <div class="position-relative">
              <label><input type="checkbox" name="filters" class="results-filter" value="faults" {% if "faults" in search_filters %} checked {% endif %}
                 /><span></span>Faults</label>
            </div>
          </div>
        </form>
        
        <div class="content__inner w-100 h-100 d-flex flex-column position-relative pb-2">
          <div class="container">
            <div class="d-flex flex-row pt-4 justify-content-center w-100">
              <h4 class="color__deep--orange">{% if search_query %} Reults for "{{ search_query }}" {% endif %}</h4>
            </div>

            <ul class="list-group">
              {% for item in search_results %}
              <li class="list-group-item">
                  <a href={{item.file.url}}>{{ item.name }}</a>
              </li>
              {% empty %}
              {% if search_query %} No results found. {% endif %}
              {% endfor %}
            </ul>
        
            {% if search_results %}
            <div class="d-flex justify-content-center w-100 h-100 flex-column position-relative pb-2 mt-3">
              <div class="container">
                <div class="pagination">
                  <span class="step-links">
                    {% if search_results.has_previous %}
                    <a href="?{{ query_string }}&page=1">&laquo; first</a>
                    <a href="?{{ query_string }}&page={{ search_results.previous_page_number }}">previous</a>
                    {% endif %}
        
                    <span class="current">
                      Page {{ search_results.number }} of {{ search_results.paginator.num_pages }}.
                    </span>
        
                    {% if search_results.has_next %}
                    <a href="?{{ query_string }}&page={{ search_results.next_page_number }}">next</a>
                    <a href="?{{ query_string }}&page={{ search_results.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                  </span>
                </div>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
        </div>
        
        
        </div>
        </div>
        </section>
        {% endblock content %}