{% extends 'rebase.html' %}
{% load static %}

{% block style %}
<style>
    img{
height:150px;
width:100%;
}

.item{
padding-left:5px;
padding-right:5px;
}
.item-card{
transition:0.5s;
cursor:pointer;
}
.item-card-title{  
font-size:15px;
transition:1s;
cursor:pointer;
}
.item-card-title i{  
font-size:15px;
transition:1s;
cursor:pointer;
color:#ffa710
}
.card-title i:hover{
transform: scale(1.25) rotate(100deg); 
color:#18d4ca;

}
.card:hover{
transform: scale(1.05);
box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}
.card-text{
height:80px;  
}

.card::before, .card::after {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
transform: scale3d(0, 0, 1);
transition: transform .3s ease-out 0s;
background: rgba(255, 255, 255, 0.1);
content: '';
pointer-events: none;
}
.card::before {
transform-origin: left top;
}
.card::after {
transform-origin: right bottom;
}
.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
transform: scale3d(1, 1, 1);
}
</style>
{% endblock style %}

{% block title %}
    <title>
        Automotive System
    </title>
{% endblock title %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'users:home' %}">Home</a></li>
    <li class="breadcrumb-item">Automotive</li>
  </ol>
</nav>
<div class="container center" style="margin-top: 2rem;">
    <div class="row">
      <div class="col-md-3 col-sm-6 item" style="padding-right: 1rem;">
        <a href="{% url 'auto:engine' %}">
          <div class="card item-card card-block">
            <img src="{% static 'img/enginepic.jpg' %}" alt="Engine">
              <h3 class="d-flex justify-content-center item-card-title mt-3 mb-3">Engine</h3>
            </div>
        </a>
      </div>
      <div class="col-md-3 col-sm-6 item" style="padding-right: 1rem;">
        <a href="{% url 'auto:cooling_system' %}">
          <div class="card item-card card-block">
            <img src="{% static 'img/cooling sys.jpg' %}" alt="Cooling System">
              <h3 class="d-flex justify-content-center item-card-title mt-3 mb-3">Cooling System</h3>
            </div>
        </a>
      </div>
      <div class="col-md-3 col-sm-6 item" style="padding-right: 1rem;">
        <a href="{% url 'auto:fuel_system' %}">
          <div class="card item-card card-block">
            <img src="{% static 'img/fuelsys.png' %}" alt="Fuel System">
              <h3 class="d-flex justify-content-center item-card-title mt-3 mb-3">Fuel System</h3>
            </div>
        </a>
      </div>    
      <div class="col-md-3 col-sm-6 item" style="padding-right: 1rem;">
        <a href="{% url 'auto:lubrication_system' %}">
          <div class="card item-card card-block">
            <img src="{% static 'img/lubsys.png' %}" alt="Lubrication System">
              <h3 class="d-flex justify-content-center item-card-title mt-3 mb-3">Lubrication System</h3>
            </div>
        </a>
      </div>    
      <div class="col-md-3 col-sm-6 item" style="padding-right: 1rem;padding-top: 1rem;">
        <a href="{% url 'auto:power_train' %}">
          <div class="card item-card card-block">
            <img src="{% static 'img/power train.jpg' %}" alt="Transmission system">
              <h3 class="d-flex justify-content-center item-card-title mt-3 mb-3">Transmission system</h3>
            </div>
        </a>
      </div>      
      <div class="col-md-3 col-sm-6 item" style="padding-right: 1rem;padding-top: 1rem;">
        <a href="{% url 'auto:running_gear' %}">
          <div class="card item-card card-block">
            <img src="{% static 'img/running gear.jpg' %}" alt="Running Gears">
              <h3 class="d-flex justify-content-center item-card-title mt-3 mb-3">Running Gears</h3>
            </div>
        </a>
      </div>      
      <div class="col-md-3 col-sm-6 item" style="padding-right: 1rem;padding-top: 1rem;">
        <a href="{% url 'auto:pneumatic_system' %}">
          <div class="card item-card card-block">
            <img src="{% static 'img/pneu.jpg' %}" alt="Pneumatic System">
              <h3 class="d-flex justify-content-center item-card-title mt-3 mb-3">Pneumatic System</h3>
            </div>
        </a>
      </div> 
      <div class="col-md-3 col-sm-6 item" style="padding-right: 1rem; padding-top: 1rem;">
        <a href="{% static 'FILES/AUTO/WPI_of_Tk_T-72.pdf' %}#page=81" target="_blank">
          <div class="card item-card card-block">
            <img src="{% static 'img/wpi.png' %}" alt="WPI">
              <h3 class="d-flex justify-content-center item-card-title mt-3 mb-3">WPI</h3>
            </div>
        </a>
      </div>     
      <div class="col-md-3 col-sm-6 item" style="padding-right: 1rem;padding-top: 1rem;">
        <a href="{% static 'FILES/AUTO/auto_preci.pdf' %}" target="_blank">
          <div class="card item-card card-block">
            <img src="{% static 'img/precis.png' %}" alt="Precis">
              <h3 class="d-flex justify-content-center item-card-title mt-3 mb-3">Precis</h3>
            </div>
        </a>
      </div>  
      <div class="col-md-3 col-sm-6 item" style="padding-right: 1rem;padding-top: 1rem;">
        <a href="{% static 'FILES/AUTO/technical maintanance.pdf'%}"target="_blank">
          <div class="card item-card card-block">
            <img src="{% static 'img/overhaul.png' %}" alt="Tech maint tasks - Engine & Running gears">
              <h3 class="d-flex justify-content-center item-card-title mt-3 mb-3">Tech maint tasks <br>Engine & Running gears</h3>
            </div>
        </a>
      </div>         
    </div>
</div>
{% endblock content %}