{% extends 'base.html' %}
{% load static %}

{% block title %}
        Defect Reports
{% endblock title %}

{% block content %}
  <div class="container center pt-4" style="margin-top: 7rem;">
      <div class="row d-flex justify-content-center">
        {% for item in defect_reports %}
        <div class="col-md-3 col-sm-6 item" style="padding-right: 1rem; margin-top: 1rem;">
          <a href="{{item.file.url}}" target="_blank">
            <div class="card item-card card-block">
              <img src="{{item.icon.url}}" alt="{{item.name|title}}">
                <h4 class="d-flex justify-content-center item-card-title mt-3 mb-3">{{item.name|title}}</h4>
              </div>
          </a>
        </div>
        {% endfor %}                                 
      </div>
  </div>
{% endblock content %}