{% extends 'base.html' %}
{% load static %}

{% block title %}
  ESV
{% endblock %}

{% block breadcrumb %}
      <div class="menu__crumbs d-flex w-100">
        <div class="container p-0 d-flex justify-content-between">
          <div>
            <a class="btn" href="{% url 'users:home' %}" role="button">Home</a><span>></span>
            <a class="btn" href="#" role="button">ESV</a>
          </div>
          <div>
            <a class="btn btn__border--btm active" href="#" role="button">Technical Manual</a>
            <a class="btn btn__border--btm" href="{% url 'esv-flow-diagram' %}" role="button">Flow Diagram</a>
            <a class="btn btn__border--btm" href="#" role="button">PPTs</a>
          </div>
        </div>
      </div>
{% endblock breadcrumb %}

{% block content %}
    <section
      class="d-flex align-items-start contentArea w-100 position-absolute hasCrumbs"
    >
      <div
        class="content__inner w-100 h-100 d-flex flex-column position-relative pb-2"
      >
        <div class="container">
          <div class="row pt-5">
            <div class="col-sm-6 text-white pe-5">
              <h1 class="pb-3 color__first--letter">
                <span>ENERGY</span><span>SYSTEM</span><br />
                <span>VEHICLE</span>
              </h1>
              <p>
                The energy system is designed to feed 3 phase power to the equipment shelters in the field. The energy system is configured in the containers with ISO corners and consists of two identical 3 Ph, 50 Hz mobile generators of 115 kVA rating at NTP and two on-line UPS of 120 kVA with single battery bank having minimum 15 minutes back up at NTP & minimum 10 minutes backup at all extreme condition with 60 KVA load. This set is made compatible to EMI-EMC requirements. During operation, the energy shelter is connected to the loads, which can be located up to 100 m. The cable installed on motorized drums having minimum length of 100 m.
              </p>
              <p>
                The equipment includes two 115 KVA Diesel Engine Generators, AMF Control Panel with motorized cable drum earthing spikes Fire Extinguishers etc. 2 x 120 kVA UPS, one battery bank, two A/Cs with both heating and cooling arrangement, container is made compatible to EMI-EMC by using special gaskets, seals, air vent panels, etc. Control panel consists of indicating, monitoring and protection circuits along with requisite control circuits fitted in the container.
              </p>
            </div>
            <div
              class="col-sm-6 d-flex align-items-end justify-content-center flex-column"
            >
              <img src="{% static 'img/esv.jpg' %}"/>
              <div class="d-flex w-100 align-items-start pt-1 pb-3">
                <!-- <a href="{% url 'esv-flow-diagram' %}" role="button" class="link__view">Exploded View >></a> -->
              </div>
            </div>
          </div>
          <div class="spacer pt-5"></div>
          <div class="d-flex pt-5 w-100 flex-column text-white">
            <h3>SUB SYSTEMS</h3>
          </div>
          <div class="container">
            <div class="d-flex pt-5 align-items-center w-100">
              <a class="btn button" href="ESV sub Generators.html" role="button">Generator Systems</a>
              <a class="btn button" href="ESV sub UPS system.html" role="button">UPS System</a>
              <a class="btn button" href="ESV sub airconditon system.html" role="button">Air Conditioning System</a>
  
            </div>
          </div>
          <!-- <div class="d-flex pt-4 flex-column">
            <div class="card__feature d-flex w-100 flex-column pb-5">
                <div class="feature__head d-flex w-100 grad__bg--orange pt-2 pb-2 ps-3 pe-3 text-white">
                  <h4 class="m-0">Generator Systems</h4>
                </div>
                <div class="feature__content d-flex flex-row w-100">
                    <div class="feature__img col-sm-4">
                      <img src="{% static 'img/esv-generator.jpg' %}"/>
                    </div>
                    <div class="feature__details col-sm-8 p-5">
                      <p>The UPS container houses 2x UPS, battery bank. 2x Air conditioner capacity 2.0 TR is mounted externally. UPS and battery bank mounted on the resistoflex AVM. Supply of air conditioner circulated through AC duct made in the roof of container. This air enters into the container through grills provided on AC duct. MCCB box mounted on the wall of container through C rail. Genset remote control panel , DC change over switch panel Distribution box 1 and 2 and Air conditioner remote panel have been mounted on the wall of container through C rail. Portable chair & earthing spikes clamped on containers wall.</p>
                    </div>
                </div>
            </div>

            <div class="card__feature d-flex w-100 flex-column pb-5">
              <div class="feature__head d-flex w-100 grad__bg--orange pt-2 pb-2 ps-3 pe-3 text-white">
                <h4 class="m-0">UPS System</h4>
              </div>
              <div class="feature__content d-flex flex-row w-100">
                  <div class="feature__img col-sm-4">
                    
                    <img src="{% static 'img/esv-ups.png' %}"/>
                  </div>
                  <div class="feature__details col-sm-8 p-5">
                    <p>Genset container houses 2 nos. Gensets along with AMF control panel and accessories. Gensets are mounted on the base frame through AVMS. Base frame is fixed on the container flooring with the help of bolts. Fuel tanks are placed inside the base frame of each genset. Exhaust gases of the gensets are taken out through silencer & exhaust piping. The engine starting batteries located in the battery brackets. Battery brackets are fixed on the floor of container with bolts. Batteries are covered with platform to protect them from damage.</p>
                  </div>
              </div>
            </div>
            
            <div class="card__feature d-flex w-100 flex-column pb-5">
              <div class="feature__head d-flex w-100 grad__bg--orange pt-2 pb-2 ps-3 pe-3 text-white">
                <h4 class="m-0">Air Conditioning System</h4>
              </div>
              <div class="feature__content d-flex flex-row w-100">
                  <div class="feature__img col-sm-4">
                    
                    <img src="{% static 'img/esv-air.png' %}"/>
                  </div>
                  <div class="feature__details col-sm-8 p-5">
                    <p>For operation at higher temperatures a Sidwal make Air Conditioner is provided in the UPS container. The Air Conditioner is of 2.0 Ton capacity and operates on 3 phase 415 V AC supply. The Air Conditioner is a single package of electrically powered unit with nominal capacity of 5.9 KW in cooling and 3 KW in heating.</p>
                  </div>
              </div>
            </div>

          </div> -->
        </div>
      </div>
    </section>
{% endblock content %}
