{% extends 'base.html' %}
{% load static %}

{% block title %}
    Miscellaneous Files
{% endblock title %}

{% block breadcrumb %}
<div class="menu__crumbs d-flex w-100">
  <div class="container p-0 d-flex justify-content-between">
    <div>
      <a class="btn" href="{% url 'users:home' %}" role="button">Home</a><span>></span>
      <a class="btn" href="{% url 'users:misc' %}" role="button">Miscellaneous</a><span>></span>
      <a class="btn" href="#" role="button">Files</a>
    </div>
  </div>
</div>
{% endblock breadcrumb %}

{% block content %}
<!--<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'users:home' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'users:misc' %}">Miscellaneous</a></li>
      <li class="breadcrumb-item">Files</li>
    </ol>
  </nav>
  <div class="container center" style="margin-top: 2rem;">
      <div class="row d-flex justify-content-center">
        {% for item in misc %}
          <div class="col-md-3 col-sm-6 item" style="padding-right: 1rem; margin-top: 1rem;">
            <a href="{{item.file.url}}" target="_blank">
              <div class="card item-card card-block">
                <img src="{{item.icon.url}}" alt="{{item.name}}">
                  <h3 class="d-flex justify-content-center item-card-title mt-3 mb-3">{{item.name|title}}</h3>
                </div>
            </a>
          </div> 
        {% endfor %}                                                             
      </div>
  </div>-->
  <section
      class="d-flex align-items-start contentArea w-100 position-absolute hasCrumbs"
    >
      <div
        class="content__inner w-100 h-100 d-flex flex-column position-relative pb-2"
      >
        <div class="container">
          <div
            class="d-flex pt-5 justify-content-center align-items-center w-100"
          >
            <a class="btn button" role="button">Procedures</a>
            <a class="btn button" role="button">SMTs</a>
            <a class="btn button" role="button">Performance Report</a>
            <a class="btn button" role="button">TM 1 & TM 2</a>
          </div>
        </div>
      </div>
  </section>
{% endblock content %}