{% extends 'base.html' %}
{% load static %}

{% block title %}
        Miscellaneous
{% endblock title %}


{% block content %}
<!--<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'users:home' %}">Home</a></li>
      <li class="breadcrumb-item">Miscellaneous</li>
    </ol>
  </nav>
  <div class="container center" style="margin-top: 2rem;">
      <div class="row d-flex justify-content-center">
          <div class="col-md-3 col-sm-6 item" style="padding-right: 1rem; margin-top: 1rem;">
            <a href="{% url 'users:misc_files' %}">
              <div class="card item-card card-block">
                <img src="{% static 'img/folder.png' %}" alt="misc files">
                  <h3 class="d-flex justify-content-center item-card-title mt-3 mb-3">Files</h3>
                </div>
            </a>
          </div>                                                            
          <div class="col-md-3 col-sm-6 item" style="padding-right: 1rem; margin-top: 1rem;">
            <a href="{% url 'users:misc_videos' %}">
              <div class="card item-card card-block">
                <img src="{% static 'img/vid.png' %}" alt="misc videos">
                  <h3 class="d-flex justify-content-center item-card-title mt-3 mb-3">Videos</h3>
                </div>
            </a>
          </div>                                                            
      </div>
  </div>-->
  <section
      class="d-flex align-items-start contentArea w-100 position-absolute"
    >
      <div
        class="content__inner w-100 h-100 d-flex flex-column position-relative pb-2"
      >
        <div class="container">
          <div class="d-flex pt-5 justify-content-center align-items-center w-100">
            <a class="btn button" href="{% url 'users:misc_files' %}" role="button">Files</a>
            <a class="btn button" href="{% url 'users:misc_videos' %}" role="button">Videos</a>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}