{% extends 'base.html' %}
{% load static %}

{% block title %}
  RSV flow diagram
{% endblock %}

{% block style %}
<link href="{% static 'vendor/flexslider/flexslider.css' %}" rel="stylesheet" />
{% endblock style %}

{% block breadcrumb %}
<div class="menu__crumbs d-flex w-100">
  <div class="container p-0 d-flex justify-content-between">
    <div>
      <a class="btn" href="{% url 'users:home' %}" role="button">Home</a><span>></span>
      <a class="btn" href="#" role="button">RSV</a>
    </div>
    <div>
      <a class="btn btn__border--btm" href="{% url 'rsv' %}" role="button">Technical Manual</a>
      <a class="btn btn__border--btm active" href="{% url 'rsv-flow-diagram' %}" role="button">Flow Diagram</a>
      <a class="btn btn__border--btm" href="#" role="button">PPTs</a>
    </div>
  </div>
</div>
{% endblock breadcrumb %}

{% block content %}
    <section
      class="d-flex align-items-start contentArea w-100 position-absolute hasCrumbs"
    >
      <div
        class="content__inner w-100 h-100 d-flex flex-column position-relative pb-2"
      >
        <div class="container">
            <div class="d-flex w-100 align-item-center justify-content-center flex-column pt-4">
                <h1 class="m-0 text-white text-center">RADAR SENSOR VEHICLE</h1>
                <h1 class="m-0 color__deep--orange text-center">FLOW DIAGRAM</h1>

                <div class="diagram__slider mt-4">
                  <div id="diagramslider" class="flexslider diagramslider">
                    <ul class="slides">
                      <li>
                        <img src="{% static 'img/RSV1.jpg' %}"/>
                      </li>
                      <li>
                        <img src="{% static 'img/RSV2.jpg' %}"/>
                      </li>
                    </ul>
                  </div>
    
                  <div id="thumbcarousel" class="flexslider thumbcarousel">
                    <ul class="slides">
                      <li class="flex-active-slide">
                        <img src="{% static 'img/RSV1.jpg' %}"/>
                      </li>
                      <li>
                        <img src="{% static 'img/RSV2.jpg' %}" />
                      </li>
                    </ul>
                  </div>
    
                </div>
                
            </div>
           
        </div>
      </div>
    </section>
{% endblock content %}

{% block extra_js %}
  <script src="{% static 'vendor/flexslider/jquery.flexslider.js' %}"></script>
  <script src="{% static 'js/flexslider.js' %}"></script> 
{% endblock extra_js %}

