{% extends 'base.html' %}
{% load static %}

{% block title %}
  RSV flow diagram
{% endblock %}

{% block style %}
<link href="{% static 'vendor/flexslider/flexslider.css' %}" rel="stylesheet" />
{% endblock style %}

{% block breadcrumb %}
<div class="menu__crumbs d-flex w-100">
  <div class="container p-0 d-flex justify-content-between">
    <div>
      <a class="btn" href="{% url 'users:home' %}" role="button">Home</a><span>></span>
      <a class="btn" href="{% url 'rsv' %}" role="button">RSV</a><span>></span>
      <a class="btn" href="#" role="button">IFF</a>
    </div>
  </div>
</div>
{% endblock breadcrumb %}

{% block content %}
<section
class="d-flex align-items-start contentArea w-100 position-absolute hasCrumbs"
>
<div
  class="content__inner w-100 h-100 d-flex flex-column position-relative pb-2"
>
  <div class="container">
    <div class="row pt-5">
      <div class="col-sm-6 text-white pe-5">
        <h1 class="pb-3 color__first--letter">
          <span>IFF</span>
        </h1>
        <p>
          The Identification Friend or Foe Mk-XI (IFF - Mk XI) Equipment is used to interrogate and identify the
          aircraft (target) fitted with compatible transponder. The coded replies received for MK-X interrogation
          are received back and displayed on PPI. For MK-XI [Mode `S’] interrogation coded replies are displayed
          on PPI only when Mode `S’ replies are received.
        </br></br>
          The Interrogator – Decoder is placed in the Radar Sensor Vehicle [RSV] and is integrated with the
          primary antenna. The power supply to IFF units is taken from 230V, 50 Hz, single phase AC supply
          available on RSV.
        </br></br>
          IFF Mk-XI has following major subsystems:-</br>
          a) Interrogator - Decoder 1 No.</br>
          b) Control Unit 1 No.</br>
        </br>
          The IFF equipment is designed to provide a range of 200 Km and an Output Frequency of 1030 MHz ± 0.2
          MHz.
        </p>
        <div class="d-inline-block w-100">
          <div class="btn_wrap">
            <a
              class="button m-0 me-2 mb-2 text-center btn__icon"
              role="button"
              href="{% url 'rsv-gallery' %}"
            >
              <img src="{% static 'img/gallery.svg' %}" />Gallery
            </a>
          </div>
          <div class="btn_wrap">
            <a
              class="button m-0 me-2 mb-2 text-center btn__icon"
              role="button"
              href="{% static 'transmitter/TM/transmitter-tm.docx' %}"
            >
              <img src="{% static 'img/manual.svg' %}" />Technical Manual
            </a>
          </div>
          <div class="btn_wrap">
            <a
              class="button m-0 me-2 mb-2 text-center btn__icon"
              role="button"
              href="{% static 'transmitter/PPT/TX.pptx' %}"
            >
              <img src="{% static 'img/ppt.svg' %}" /> PPTs
            </a>
          </div>
          <div class="btn_wrap">
            <a
              class="button m-0 me-2 mb-2 text-center btn__icon"
              role="button"
              href="{% static 'transmitter/Video/microwave rack.flv' %}"
            >
              <img src="{% static 'img/video.svg' %}" />
              Video
            </a>
          </div>
          <div class="btn_wrap">
            <a
              class="button m-0 me-2 mb-2 text-center btn__icon"
              role="button"
              href="{% static 'transmitter/Troubleshooting/transmitter-troubleshoot.pdf' %}"
            >
              <img src="{% static 'img/troubleshoot.svg' %}" />
              Troubleshooting
            </a>
          </div>
        </div>
      </div>
      <div
        class="col-sm-6 d-flex align-items-start justify-content-center flex-column"
      >
        <img src="{% static 'img/ifffs.jpg' %}" />
        <div class="d-flex w-100 align-items-start pt-1 pb-3">
       
        
        </div>
      </div>
    </div>
  </div>
</div>
</section>
{% endblock content %}

{% block extra_js %}
  <script src="{% static 'vendor/flexslider/jquery.flexslider.js' %}"></script>
  <script src="{% static 'js/flexslider.js' %}"></script> 
{% endblock extra_js %}

