{% extends 'base.html' %}
{% load static %}

{% block title %}
  RSV flow diagram
{% endblock %}

{% block style %}
<link href="{% static 'vendor/flexslider/flexslider.css' %}" rel="stylesheet" />
{% endblock style %}

{% block breadcrumb %}
<div class="menu__crumbs d-flex w-100">
  <div class="container p-0 d-flex justify-content-between">
    <div>
      <a class="btn" href="{% url 'users:home' %}" role="button">Home</a><span>></span>
      <a class="btn" href="{% url 'rsv' %}" role="button">RSV</a><span>></span>
      <a class="btn" href="#" role="button">SDP</a>
    </div>
  </div>
</div>
{% endblock breadcrumb %}

{% block content %}
<section
class="d-flex align-items-start contentArea w-100 position-absolute hasCrumbs"
>
<div
  class="content__inner w-100 h-100 d-flex flex-column position-relative pb-2"
>
  <div class="container">
    <div class="row pt-5">
      <div class="col-sm-6 text-white pe-5">
        <h1 class="pb-3 color__first--letter">
          <span>SDP</span>
        </h1>
        <p>
          Located in the RSV and the SDP rack is divided into 4 levels, namely, zero, one, two & three
          corresponding to Power supply, RF-Exciter, Signal & Data Processor and Debug Panel respectively.
        </br></br>
          It consists of 2 power supply modules :- </br>
          (a) Lambda Power supply - For RF-Exciter (+3.3V DC, +5V DC, +12V DC & -12V DC).</br>
          (b) Vicor Power supply - For SDP Card cage (27V DC)</br>
        </br>
          Func of SDP :-</br>
          (a) Generation of the STAMO (3.1-3.5 GHz) which goes to Tx for amplification & further gets radiated.</br>
          (b) Generation STALO-1 ( 2.5-2.9 GHz) & STALO-2 (540 MHz) for down-conversion in Rx.</br>
          (c) Generation of BITE-Signal, for health-monitoring of LNA & Rx.</br>
          (d) Generation of 50 MHz clock for DIF-cards.</br>
          (e) Processing IF signals coming from Rx and extraction of various parameters of target including Rg,
          Az, Ht, Vel.</br>
          (f) Suppression of the clutter which lies interlaced with the received target-signals.</br>
        </p>
        <div class="d-inline-block w-100">
          <div class="btn_wrap">
            <a
              class="button m-0 me-2 mb-2 text-center btn__icon"
              role="button"
              href="{% url 'rsv-gallery' %}"
            >
              <img src="{% static 'img/gallery.svg' %}" />Gallery
            </a>
          </div>
          <div class="btn_wrap">
            <a
              class="button m-0 me-2 mb-2 text-center btn__icon"
              role="button"
              href="{% static 'transmitter/TM/transmitter-tm.docx' %}"
            >
              <img src="{% static 'img/manual.svg' %}" />Technical Manual
            </a>
          </div>
          <div class="btn_wrap">
            <a
              class="button m-0 me-2 mb-2 text-center btn__icon"
              role="button"
              href="{% static 'transmitter/PPT/TX.pptx' %}"
            >
              <img src="{% static 'img/ppt.svg' %}" /> PPTs
            </a>
          </div>
          <div class="btn_wrap">
            <a
              class="button m-0 me-2 mb-2 text-center btn__icon"
              role="button"
              href="{% static 'transmitter/Video/microwave rack.flv' %}"
            >
              <img src="{% static 'img/video.svg' %}" />
              Video
            </a>
          </div>
          <div class="btn_wrap">
            <a
              class="button m-0 me-2 mb-2 text-center btn__icon"
              role="button"
              href="{% static 'transmitter/Troubleshooting/transmitter-troubleshoot.pdf' %}"
            >
              <img src="{% static 'img/troubleshoot.svg' %}" />
              Troubleshooting
            </a>
          </div>
        </div>
      </div>
      <div
        class="col-sm-6 d-flex align-items-start justify-content-center flex-column"
      >
        <img src="{% static 'img/SDP.jpg' %}" />
        <div class="d-flex w-100 align-items-start pt-1 pb-3">
       
        
        </div>
      </div>
    </div>
  </div>
</div>
</section>
{% endblock content %}

{% block extra_js %}
  <script src="{% static 'vendor/flexslider/jquery.flexslider.js' %}"></script>
  <script src="{% static 'js/flexslider.js' %}"></script> 
{% endblock extra_js %}

