{% extends 'base.html' %}
{% load static %}

{% block title %}
RSV
{% endblock %}

{% block breadcrumb %}
<div class="menu__crumbs d-flex w-100">
  <div class="container p-0 d-flex justify-content-between">
    <div>
      <a class="btn" href="{% url 'users:home' %}" role="button">Home</a><span>></span>
      <a class="btn" href="#" role="button">RSV</a>
    </div>
    <div>
      <a class="btn btn__border--btm active" href="#" role="button">Technical Manual</a>
      <a class="btn btn__border--btm" href="{% url 'rsv-flow-diagram' %}" role="button">Flow Diagram</a>
      <a class="btn btn__border--btm" href="#" role="button">PPTs</a>
    </div>
  </div>
</div>
{% endblock breadcrumb %}
<!-- End Header -->

<!-- section starts -->
{% block content %}
<section class="d-flex align-items-start contentArea w-100 position-absolute hasCrumbs">
  <div class="content__inner w-100 h-100 d-flex flex-column position-relative pb-2">
    <div class="container">
      <div class="row pt-5">
        <div class="col-sm-6 text-white pe-5">
          <h1 class="pb-3 color__first--letter">
            <span>RADAR</span><span>SYSTEM</span><br />
            <span>VEHICLE</span>
          </h1>
          <p>
            The Radar Sensor Vehicle (RSV) is responsible for all radar related functions excluding the main power
            supply.
          </p>
          <p>
            It houses the Primary, IFF & SLB antennas. It also incorporates the various electronic subsystems namely, S
            band Transmitter, Air Drier, Signal Data Processor, IFF Mk-XI, Display console, Communication system,
            Antenna Control Unit, Recorder & Replay System, Communication Interface Unit & NBC Filter.
          </p>
          <p>
            It is mounted on a 8x8 TATRA vehicle.
          </p>
        </div>
        <div class="col-sm-6 d-flex align-items-end justify-content-center flex-column">
          <img src="{% static 'img/rsv.jpg' %}" />
          <div class="d-flex w-100 align-items-start pt-1 pb-3">
            <!-- <a href="{% url 'rsv-flow-diagram' %}" role="button" class="link__view">Exploded View >></a> -->
          </div>
        </div>
      </div>
      <div class="spacer pt-5"></div>
      <div class="d-flex pt-5 w-100 flex-column text-white">
        <h3>SUB SYSTEMS</h3>
      </div>
      <!-- <a href="{% url 'rsv-transmitter' %}">
          <div class="card__feature d-flex w-100 flex-column pb-5">
            <div class="feature__head d-flex w-100 grad__bg--orange pt-2 pb-2 ps-3 pe-3 text-white">
              <h4 class="m-0">Transmitter</h4>
            </div>
            <div class="feature__content d-flex flex-row w-100">
                <div class="feature__img col-sm-4">
                  
                  <img src="{% static 'img/transmitter.jpg' %}"/>
                </div>
                <div class="feature__details col-sm-8 p-5">
                  <p>The transmitter is based on TWT amplifier, which is capable of delivering more than 120 kW (min) of RF peak power and 4 kW of average power. It amplifies the pulsed RF signal from 1W to 120 kW (min) while maintaining excellent phase noise performance. A fail-safe mode of delivering 1.5 kW of peak power to antenna using a solid state RF power amplifier, in case of failure of liquid cooling unit, is provided as a standby measure. Liquid to air-cooling unit is provided to cool the transmitter subsystems. A dehydrator ensures that the waveguide is pressurized and free of moisture, at all times. A waveguide switch enables testing of transmitter during maintenance by diverting the RF energy to a dummy load.</p>
                </div>
            </div>
          </div>
          </a> -->
      <div class="container">
        <div class="d-flex pt-5 justify-content-center align-items-center w-100">
          <a class="btn button" href="RSV sub antena System.html" role="button">Antenna System</a>
          <a class="btn button" href="RSV sub antena System.html" role="button">Antena Control System</a>
          <a class="btn button" href="{% url 'rsv-transmitter' %}" role="button">Transmitter</a>
          <a class="btn button" href="{% url 'rsv-ciu' %}" role="button">CIU</a>
          <a class="btn button" href="{% url 'rsv-displaysystem' %}" role="button">Display System</a>
          <a class="btn button" href="{% url 'rsv-sdp' %}" role="button">SDP</a>
          <a class="btn button" href="{% url 'rsv-iff' %}" role="button">IFF</a>

        </div>
      </div>
      <!-- <div class="d-flex pt-4 flex-column">
            <div class="card__feature d-flex w-100 flex-column pb-5">
                <div class="feature__head d-flex w-100 grad__bg--orange pt-2 pb-2 ps-3 pe-3 text-white">
                  <h4 class="m-0">Antena System</h4>
                </div>
                <div class="feature__content d-flex flex-row w-100">
                    <div class="feature__img col-sm-4">
                      <img src="{% static 'img/antenna.png' %}"/>
                    </div>
                    <div class="feature__details col-sm-8 p-5">
                      <p>The Multibeam Antenna system consists of two subsystems viz. the Multibeam Array Antenna System and the Hydraulic and Mechanical system. The hydraulic and mechanical system being an integral part of the mobile platform of RSV is described under the same.</p>
                      <p>The Multibeam Array Antenna System consists of Antenna system and Antenna Electronics housed inside the antenna cabin. The Antenna Electronics receives echoes from the Primary Planar Array Antenna, forms eight stacked elevation beams. These RF beams are converted to IF level. The antenna structure supports three antennae and houses RF receiver in the antenna cabin.</p>
                    </div>
                </div>
            </div>

            <div class="card__feature d-flex w-100 flex-column pb-5">
              <div class="feature__head d-flex w-100 grad__bg--orange pt-2 pb-2 ps-3 pe-3 text-white">
                <h4 class="m-0">Antena Control Sytem</h4>
              </div>
              <div class="feature__content d-flex flex-row w-100">
                  <div class="feature__img col-sm-4">
                    <img src="{% static 'img/antenna-DIAGRAM.png' %}"/>
                  </div>
                  <div class="feature__details col-sm-8 p-5">
                    <p>Antenna Control System for TCR is one of the sub systems in Radar Cabin which is mainly responsible for carrying out functions of Antenna Deployment and two axis stabilization. Antenna Control System for TCR system consists of the following subsystems:</p>
                    <ul class="list__arrow">
                      <li>MASTER CONTROL UNIT (MCU)</li>
                      <li>DC POWER SUPPLY 26V (RUGGEDIZED)</li> 
                      <li>POWER SUPPLY DISTRIBUTION UNIT –1(PSDU-1)</li>
                      <li>POWER SUPPLY DISTRIBUTION UNIT–2(PSDU-2)</li> 
                      <li>DEPLOYMENT CONSOLE UNIT (DCU)</li> 
                      <li>TWO-AXIS LEVEL SENSORS SYSTEM</li> 
                      <li>DISPLAY UNIT (LEVEL METER 2000)</li> 
                      <li>JUNCTION BOX</li> 
                      <li>LED CROSS DISPLAY (PART OF DCU)</li> 
                      <li>PORTABLE DRIVE UNIT (PDU)</li>
                    </ul>
                  </div>
              </div>
            </div>

            <div class="card__feature d-flex w-100 flex-column pb-5">
              <div class="feature__head d-flex w-100 grad__bg--orange pt-2 pb-2 ps-3 pe-3 text-white">
                <h4 class="m-0">CIU</h4>
              </div>
              <div class="feature__content d-flex flex-row w-100">
                  <div class="feature__img col-sm-4">
                    
                    <img src="{% static 'img/CIU.png' %}"/>
                  </div>
                  <div class="feature__details col-sm-8 p-5">
                    <p>CIU Provides interface between SDP and communication equipments.In addition to it ,CIU drives secondary display console. CIU has different data handling capabilities</p>
                  </div>
              </div>
            </div>
            
            <div class="card__feature d-flex w-100 flex-column pb-5">
              <div class="feature__head d-flex w-100 grad__bg--orange pt-2 pb-2 ps-3 pe-3 text-white">
                <h4 class="m-0">Display System</h4>
              </div>
              <div class="feature__content d-flex flex-row w-100">
                  <div class="feature__img col-sm-4">
                    
                    <img src="{% static 'img/CIU.png' %}"/>
                  </div>
                  <div class="feature__details col-sm-8 p-5">
                    <p>Display console consist of a 20 ‘ LCD screen and it displays 
                      <ul class="list-icons list__disc">
                        <li>Synthetic , raw videos </li>
                        <li>Plots , tracks with labels </li>
                        <li>Maps , ASC maps, zones , jam strobes </li>
                        <li>Track parameters on tote 
                        <li>System controls / indications ,which includes
                          <ul class="list__pointer">
                            <li>Diagnostic information </li>
                            <li>Alarms, messages </li>
                            <li>Status information on main subsystems </li>
                            <li>Loading of maps </li>
                            <li>BITE (on-line, off-line)</li>
                          </ul>
                        </li> 
                      </ul>
                    </p>
                  </div>
              </div>
            </div>

            <div class="card__feature d-flex w-100 flex-column pb-5">
              <div class="feature__head d-flex w-100 grad__bg--orange pt-2 pb-2 ps-3 pe-3 text-white">
                <h4 class="m-0">SDP</h4>
              </div>
              <div class="feature__content d-flex flex-row w-100">
                  <div class="feature__img col-sm-4">
                    
                    <img src="{% static 'img/SDP.jpg' %}"/>
                  </div>
                  <div class="feature__details col-sm-8 p-5">
                    <p>Located in the RSV and the SDP rack is divided into 4 levels, namely, zero, one, two & three corresponding to Power supply, RF-Exciter, Signal & Data Processor and Debug Panel respectively.</p>
                    <p>
                      It consists of 2 power supply modules :- <br/>
                      (a) Lambda Power supply - For RF-Exciter (+3.3V DC, +5V DC, +12V DC & -12V DC). <br/>
                      (b) Vicor Power supply - For SDP Card cage (27V DC) 
                    </p>
                    <p>
                      Func of SDP :- <br/>
                      (a) Generation of the STAMO (3.1-3.5 GHz) which goes to Tx for amplification & further gets radiated.<br/>
                      (b) Generation STALO-1 ( 2.5-2.9 GHz) & STALO-2 (540 MHz) for down-conversion in Rx.<br/>
                      (c) Generation of BITE-Signal, for health-monitoring of LNA & Rx. <br/>
                      (d) Generation of 50 MHz clock for DIF-cards.<br/>
                      (e) Processing IF signals coming from Rx and extraction of various parameters of target including Rg, Az, Ht, Vel.<br/>
                      (f) Suppression of the clutter which lies interlaced with the received target-signals.
                    </p>
                  </div>
              </div>
            </div>

            <div class="card__feature d-flex w-100 flex-column pb-5">
              <div class="feature__head d-flex w-100 grad__bg--orange pt-2 pb-2 ps-3 pe-3 text-white">
                <h4 class="m-0">IFF</h4>
              </div>
              <div class="feature__content d-flex flex-row w-100">
                  <div class="feature__img col-sm-4">   
                    <img src="{% static 'img/iff.png' %}"/>
                  </div>
                  <div class="feature__details col-sm-8 p-5">
                    <p>The Identification Friend or Foe Mk-XI (IFF - Mk XI) Equipment is used to interrogate and identify the aircraft (target) fitted with compatible transponder. The coded replies received for MK-X interrogation are received back and displayed on PPI. For MK-XI [Mode `S’] interrogation coded replies are displayed on PPI only when Mode `S’ replies are received. </p>
                    <p>
                      The Interrogator – Decoder is placed in the Radar Sensor Vehicle [RSV] and is integrated with the primary antenna. The power supply to IFF units is taken from 230V, 50 Hz, single phase AC supply available on RSV. </p>

                    <p>IFF Mk-XI has following major subsystems:- <br/>
                        a) Interrogator - Decoder 1 No.<br/>
                        b) Control Unit 1 No. </p>

                    <p>The IFF equipment is designed to provide a range of 200 Km and an Output Frequency of 1030 MHz ± 0.2 MHz.</p>
                  </div>
              </div>
            </div>

          </div> -->
    </div>
  </div>
</section>
{% endblock content %}