{% extends 'rebase.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
<title>Search Results</title>
{% endblock title %}

{% block style %}

{% endblock style %}


{% block content %}
<section class="section">
    <div class="conatainer is-full">
        <div class="columns">
            <div class="column is-10 is-offset-1 has-background-dark">
                <div class="has-text-light">
                    <p class="is-size-4 has-text-light">Search results for <strong class="has-text-light">"{{query}}"</strong></p>
                    <div style="margin: 2rem 2rem;">
                        <h5 class="is-5 title has-text-light"
                        style="margin-bottom: 0.5rem;">Files</h5>
                            {% if object_list.files|length > 0 %}
                                <p style="margin-bottom: 0.7rem;">{{object_list.files|length}} matches found</p>
                                {% for file in object_list.files %}
                                    <a href="{{ file.file.url }}"target="_blank">{{file.name|title}}</a><br>
                                {% endfor %}
                            {% else %}
                            <p>There are no matches for "{{query}}"</p>
                            {% endif %}
                    </div>
                    <hr>
                    <div style="margin: 2rem 2rem;">
                        <h5 class="is-5 title has-text-light"
                        style="margin-bottom: 0.5rem;">Videos</h5>
                            {% if object_list.videos|length > 0 %}
                                <p style="margin-bottom: 0.7rem;">{{object_list.videos|length}} matches found</p>
                                {% for video in object_list.videos %}
                                    <a href="{{ video.file.url }}" target="_blank">{{video.name|title}}</a><br>
                                {% endfor %}
                            {% else %}
                            <p>There are no matches for "{{query}}"</p>
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}