{% extends 'base.html' %}

{% block title %}
    IETM:3DTCR About Page
{% endblock title %}

{% block content %}
<section
      class="d-flex align-items-start contentArea w-100 position-absolute"
    >
      <div
        class="content__inner w-100 h-100 d-flex flex-column position-relative pb-2"
      >
        <div class="container">
          <div class="row pt-5">
            <div class="col-sm-6 text-white">
              <div class="w-100 pe-5">
                <h1 class="color__deep--orange pb-3">CI - IV IETM</h1>
                <p>
                  Vivamus dictum aliquam auctor. Morbi dictum, dolor ut placerat
                  rhoncus, est ligula interdum urna, nec maximus sapien libero
                  id ex. Maecenas consequat elit interdum, accumsan erat et,
                  volutpat massa. Duis egestas quam vitae posuere gravida.
                  Suspendisse pharetra massa in posuere rutrum. Praesent
                  volutpat a magna eu finibus.Vivamus dictum aliquam auctor.
                  Morbi dictum, dolor ut placerat rhoncus, est ligula interdum
                  urna, nec maximus sapien libero id ex. Maecenas consequat elit
                  interdum, accumsan erat et, volutpat massa. Duis egestas quam
                  vitae posuere gravida. Suspendisse pharetra massa in posuere
                  rutrum. Praesent volutpat a magna eu finibus.Vivamus dictum
                  aliquam auctor. Morbi dictum, dolor ut placerat rhoncus, est
                  ligula interdum urna, nec maximus sapien libero id ex.
                  Maecenas consequat elit interdum, accumsan erat et, volutpat
                  massa. Duis egestas quam vitae posuere gravida. Suspendisse
                  pharetra massa in posuere rutrum. Praesent volutpat a magna eu
                  finibus.Vivamus dictum aliquam auctor. Morbi dictum, dolor ut
                  placerat rhoncus, est ligula interdum urna, nec maximus sapien
                  libero id ex. Maecenas consequat elit interdum, accumsan erat
                  et, volutpat massa. Duis egestas quam vitae posuere gravida.
                  Suspendisse pharetra massa in posuere rutrum. Praesent
                  volutpat a magna eu finibus.
                </p>
              </div>
            </div>
            <div class="col-sm-6 d-flex flex-column">
              <div class="w-100 pe-5">
                <h1 class="color__deep--orange pb-3">DEVELOPED BY</h1>
                <p>
                  Vivamus dictum aliquam auctor. Morbi dictum, dolor ut placerat
                  rhoncus, est ligula interdum urna, nec maximus sapien libero
                  id ex. Maecenas consequat elit interdum, accumsan erat et,
                  volutpat massa. Duis egestas quam vitae posuere gravida.
                  Suspendisse pharetra massa in posuere rutrum. Praesent
                  volutpat a magna eu finibus.Vivamus dictum aliquam auctor.
                  Morbi dictum, dolor ut placerat rhoncus, est ligula interdum
                  urna, nec maximus sapien libero id ex. Maecenas consequat elit
                  interdum, accumsan erat et, volutpat massa. Duis egestas quam
                  vitae posuere gravida. Suspendisse pharetra massa in posuere
                  rutrum. Praesent volutpat a magna eu finibus.Vivamus dictum
                  aliquam auctor. Morbi dictum, dolor ut placerat rhoncus, est
                  ligula interdum urna, nec maximus sapien libero id ex.
                  Maecenas consequat elit interdum, accumsan erat et, volutpat
                  massa. Duis egestas quam vitae posuere gravida. Suspendisse
                  pharetra massa in posuere rutrum. Praesent volutpat a magna eu
                  finibus.Vivamus dictum aliquam auctor. Morbi dictum, dolor ut
                  placerat rhoncus, est ligula interdum urna, nec maximus sapien
                  libero id ex. Maecenas consequat elit interdum, accumsan erat
                  et, volutpat massa. Duis egestas quam vitae posuere gravida.
                  Suspendisse pharetra massa in posuere rutrum. Praesent
                  volutpat a magna eu finibus.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row pt-5">
            <div class="col-sm-6 text-white">
              <div class="w-100 pe-5">
                <h1 class="color__deep--orange pb-3">ADDRESS</h1>
                <p>
                  Vivamus dictum aliquam auctor. Morbi dictum, dolor ut placerat
                  rhoncus, est ligula interdum urna, nec maximus sapien libero
                  id ex. Maecenas consequat elit interdum, accumsan erat et,
                  volutpat massa. Duis egestas quam vitae posuere gravida.
                  Suspendisse pharetra massa in posuere rutrum. Praesent
                  volutpat a magna eu finibus.Vivamus dictum aliquam auctor.
                  Morbi dictum, dolor ut placerat rhoncus, est ligula interdum
                  urna, nec maximus sapien libero id ex.
                </p>
              </div>
            </div>
            <div class="col-sm-6 d-flex flex-column">
              <div class="w-100 pe-5">
                <h1 class="color__deep--orange pb-3">INSTALLATION GUIDE</h1>
                <div class="row pb-3 install__link">
                  <h4>
                    <a class="text-white d-flex align-items-center" href="#"
                      ><i class="bi bi-camera-video-fill"></i><span>Link
                      to the video</span></a
                    >
                  </h4>
                </div>
                <div class="row pb-3 install__link">
                  <h4>
                    <a class="text-white d-flex align-items-center" href="#"
                      ><i class="bi bi-file-earmark-word-fill"></i
                      ><span>Link to the word file</span></a
                    >
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End section -->
{% endblock content %}