{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block style %}
<style>
html,body { 
	height: 100%; 
}

.global-container{
	height:100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f5f5f5;
}

form{
	padding-top: 10px;
	font-size: 14px;
	margin-top: 30px;
}

.card-title{ font-weight:300; }

.btn{
	font-size: 14px;
	margin-top:20px;
}


.login-form{ 
	width:330px;
	margin:20px;
}

.sign-up{
	text-align:center;
	padding:20px 0 0;
}

.alert{
	margin-bottom:-30px;
	font-size: 13px;
	margin-top:20px;
}
</style>
{% endblock style %}

{% block content %}
<div class="global-container" style="margin-top: -10em;">
	<div class="card login-form">
	<div class="card-body">
		<h3 class="card-title text-center">You have been logged out.</h3>
		<div class="card-text">
			<form method="POST">
				{% csrf_token %}
				{{form|crispy}}
				<button type="submit" class="btn btn-primary btn-block">Sign in Again</button>
			</form>
		</div>
	</div>
</div>
</div>
{% endblock content %}