{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}



{% block body %}
<!--<div class="global-container" style="margin-top: -8em;">
	<div class="card login-form">
	<div class="card-body">
		<h3 class="card-title text-center">Log in to IETM</h3>
		<div class="card-text">
			<form method="POST">
				{% csrf_token %}
				{{form|crispy}}
				<button type="submit" class="btn btn-primary btn-block">Sign in</button>
			</form>
		</div>
	</div>
</div>
</div>-->



<section
      class="d-flex align-items-start loginSection w-100 h-100"
    >
      <div
        class="content__inner w-100 h-100 d-flex flex-column position-relative align-items-center justify-content-center"
      >
        <div class="login__wrap">
            <div class="login__logo d-flex justify-content-between w-100">
                <img src="{% static 'img/Picture1.png' %}"/>
                <img src="{% static 'img/Picture2.png' %}"/>
            </div>
<<<<<<< HEAD
            <h1 class="text-white text-center">IETM : 3DTCR</h1>
=======
            <h1 class="text-white text-center">IETM : 3D TCR</h1>
>>>>>>> 65b60b3a130903714f4fc7ed63f83a005147241c
            <div class="d-flex flex-column w-100 inputField">
				<form method="POST">
					{% csrf_token %}
					<input type="text" name="username" required="" id="id_username" placeholder="Username">
                	<input type="password" name="password" required="" id="id_password" placeholder="Password">

					<div class="d-inline-block text-center w-100">
						<button type="submit" class="button submit__btn d-inline-block">Log in</button>
					</div>
				</form>
            </div>
            
        </div>
      </div>
    </section>
{% endblock body %}