{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>{% block title %} IETM:3DTCR {% endblock title %}</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'img/favicon.png' %}" rel="icon">
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <!--<link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">-->

    <!-- Template Main CSS File -->
    <link href="{% static 'css/style-new.css' %}" rel="stylesheet">

    {% block style %}{% endblock style %}

</head>

<body>

  <body>
    {% block body %}
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center flex-column">
      <div class="w-100 header-box">
        <div
          class="d-flex align-items-center justify-content-between container"
        >
          <div class="logo">
            <a href="{% url 'landing' %}"
              ><img src="{% static 'img/Picture1.png' %}" alt="" class="img-fluid"
            /></a>
          </div>
          <div class="logo">
            <h1 class="text-light">
              <a href="{% url 'landing' %}"> <span>IETM : 3D TCR</span></a>
            </h1>
          </div>
          <div class="logo">
            <a href="{% url 'landing' %}"
              ><img src="{% static 'img/Picture2.png' %}" alt="" class="img-fluid"
            /></a>
          </div>
        </div>
      </div>
      <div class="bg-dark w-100 nav-items">
        <div class="d-flex align-items-center justify-content-between container">
          <nav id="navbar" class="navbar w-100">
            {% if user.is_authenticated %}
            <ul class="w-100 justify-content-between">
            <li>
              <a class="nav-link scrollto {% if request.path == '/ietm/'  %} active {% endif %}" href="{% url 'landing' %}">Home</a>
            </li>
            <li>
              <a class="nav-link scrollto {% if request.path == '/about/'  %} active {% endif %}" href="{% url 'about' %}">About</a>
            </li>
            <li>
              <a class="nav-link scrollto {% if request.path == '/ietm/tech_lit/'  %} active {% endif %}" href="{% url 'users:technical_literature' %}">Technical Literatures</a>
            </li>
            <li>
              <a class="nav-link scrollto {% if request.path == '/ietm/cbt/'  %} active {% endif %}" href="{% url 'users:cbt' %}">CBTs/PPTs</a>
            </li>
            <li>
              <a class="nav-link scrollto {% if request.path == '/ietm/defects/'  %} active {% endif %}" href="{% url 'users:defect_report' %}">Fault Compendium</a>
            </li>
            <li>
              <a class="nav-link scrollto {% if request.path == '/ietm/misc/'  %} active {% endif %}" href="{% url 'users:misc' %}">Misc</a>
            </li>
            <li>
              <a class="nav-link scrollto {% if request.path == '/search/'  %} active {% endif %}" href="{% url 'search' %}">Search</a>
            </li>
            <li>
              <a class="nav-link scrollto" href="/logout">Logout</a>
            </li>
          </ul>
          {% else %}
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item active nav-link">
                Login to Browse Content <span class="sr-only">(current)</span>
              </li>
            </ul>
          </div>
          {% endif %}
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav>
          <!-- .navbar -->
        </div>
      </div>
      {% block breadcrumb %}{% endblock breadcrumb %}
    </header>
              <!-- ! Menu 2
              <li class="nav-item">
                <a href="{% url 'users:schem' %}" class="nav-link">Schematic Diagrams</a>
              </li>
               ! Menu 3 
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:emer' %}">EMERs</a>
              </li>
              ! Menu 4 -->
    
    <main>
    {% block content %}
      
    {% endblock content %}
   </main>  
       
    
 <!--<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
  <i class="bi bi-arrow-up-short"></i></a>-->

{% endblock body %}
<!-- Vendor JS Files -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
{% block extra_js %}
<!--<script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
<script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>-->
{% endblock extra_js %}
<!-- Template Main JS File -->
<script src="{% static 'js/main.js' %}"></script>

</body>

</html>