{% load static %}
<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top has-background-grey-dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    {% block title %}
    
    {% endblock title %}

    {% block style %}
    {% endblock style %}

</head>

<body onload="init()" >

    <div>
      <nav class="navbar-expand-lg navbar navbar-dark bg-dark" style="margin-top: 1em;">
          {% if user.is_authenticated %}
          <a class="navbar-brand" href="{% url 'landing' %}">Home</a>
        
          <div class="collapse navbar-collapse" >
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <!-- ! Menu 1 -->
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:technical_literature' %}">Technical Literatures</a>
              </li>
              <!-- ! Menu 2 -->
              <li class="nav-item">
                <a href="{% url 'users:schem' %}" class="nav-link">Schematic Diagrams</a>
              </li>
              <!-- ! Menu 3 -->
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:emer' %}">EMERs</a>
              </li>
              <!-- ! Menu 4 -->
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:cbt' %}">CBTs/PPTs</a>
              </li>
              <!-- ! Menu 5 -->
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:defect_report' %}">Defect Reports</a>
              </li>
              <!-- ! Menu 6 -->            
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:misc' %}">Misc</a>
              </li>
              <!-- ! Menu 7 -->
              <li class="nav-item" style="margin-left: 2rem;">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
            </ul>
              <a data-toggle="modal" data-target="#exampleModalCenter">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </a>
          </div>
          {% else %}
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item active nav-link">
                Login to Browse Content <span class="sr-only">(current)</span>
              </li>
            </ul>
          </div>
          {% endif %}
      </nav>
    </div>
    <div id="app">
      <form target="_blank" action="{% url 'users:results' %}" method="get">
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Enter you search terms here</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <input type="text" placeholder="Enter Keyword here"
                          name="q"
                          autocomplete="off"
                          class="input"
                          style="width: 100%;"
                          v-model="query" @input="filterQS" @focus="drop=true" 
                          @keyup.esc="drop=false">
                  <div v-if="filteredqs && drop">
                    <ul>
                      <li v-for="query in filteredqs.slice(0,4)" @click="setQuery(query)"
                      style="background-color: #f5f5f5;
                      font-weight: 400; cursor: pointer;">[{query}]</li>
                    </ul>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Search</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    {% block content %}
      
    {% endblock content %}
<script src="{% static 'js/vue.js' %}"></script>
<script src="{% static 'js/axios.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script>
var myObject = new Vue({
    el: '#app',
    delimiters: ['[{','}]'],
    data: {
      query:'',
      files: [],
      videos: [],
      queryset:[],
      filteredqs:[],
      drop: false,
    },
    methods: {
      filterQS(){
        this.filteredqs = this.queryset.filter(query => {
          return query.toLowerCase().includes(this.query.toLowerCase())
        });
      },
      setQuery(query){
        this.query = query
        this.drop = false
      },
      getFiles(){
        axios
        .get('http://127.0.0.1:8000/api/files/?format=json')
        .then(response => (response['data'].forEach(element => {
             this.files.push(element['name'])
             this.queryset.push(element['name'])
        })))
      },
      getVideos(){
        axios
        .get('http://127.0.0.1:8000/api/videos/?format=json')
        .then(response => (response['data'].forEach(element => {
             this.videos.push(element['name'])
             this.queryset.push(element['name'])
        })))
      },
    },
    mounted () {
      this.getFiles();
      this.getVideos();
    },
})
</script>
</body>

</html>