{% extends 'base.html' %}
{% load static %}

{% block title %}
Technical Literatures
{% endblock title %}

{% block content %}
<!--<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'users:home' %}">Home</a></li>
      <li class="breadcrumb-item">Technical Literature</li>
    </ol>
  </nav>
  <div class="container center" style="margin-top: 2rem;">
  <div class="row d-flex justify-content-center">
    {% for item in tl %}
      <div class="col-md-3 col-sm-6 item" style="padding-right: 1rem; margin-top: 1rem;">
        <a href="{{item.file.url}}" target="_blank">
          <div class="card item-card card-block">
            <img src="{{item.icon.url}}" alt="{{item.name}}">
              <h3 class="d-flex justify-content-center item-card-title mt-3 mb-3">{{item.name|title}}</h3>
            </div>
        </a>
      </div> 
    {% endfor %} 
  </div>
</div> -->
<section class="d-flex align-items-start contentArea w-100 position-absolute">
  <div class="content__inner w-100 h-100 d-flex flex-column position-relative pb-2">
    <div class="container">
      <div class="d-flex pt-5 justify-content-center align-items-center w-100">
        <a class="btn button" role="button">User Handbook</a>
        <a class="btn button" role="button">EMERs </a>
        <a class="btn button" role="button">Technical Manual</a>
        <a class="btn button" role="button">ISPL</a>
        <a class="btn button" role="button">MRLss</a>
      </div>
    </div>
  </div>
</section>
{% endblock content %}